html, body {
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #cebca4;
    margin: 0px;
}

.name {
    border: 4px solid #333333;
    width: 150px;
    margin: 25px 0px 25px 50px;
}

.name > div {
    position: relative;
    top: -15px;
    left: -15px;
    background-color: #333333;
    background-image: url("../images/kristaps-ungurs-XkwtYLKSPMI-unsplash.jpg");
    background-size: cover;
    background-position: 0% 100%;
}

.name > div > h1 {
    background-color: #0008;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin: 0px;
    padding: 0 5px;
}

.navbar {
    text-align: center;
}

.navbar > ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.navbar > ul > li {
    display: inline-block;
    text-align: right;
    padding: 25px;
    transition: all 0.5s;
}

.navbar > ul > li:hover {
    background-color: #fff8ee;
}